<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./asset/css/styles.css">

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/ngstorage/ngStorage.min.js"></script>
    <script src="./bower_components/angularLocalStorage/dist/angularLocalStorage.min.js"></script>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="./js/module/module.js"></script>
    <script src="./js/controller/books.controller.js"></script>
    <script src="./js/services/books.service.js"></script>
    <script src="./asset/scripts/myscript.js"></script>

</head>

<body ng-app="books">
    <div class="container" ng-controller="booksController">
        <div class="row">
            <div class="col-xs-12 col-md-3 logo">
                <img src="./asset/images/logo.png" alt="Logo" >
            </div>
            <div class="col-xs-12 col-md-5 storesname">
                <div>
                    <h2 class="store-name"><span class="app-name">The Book Stores</span></h2>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 socio-icon">
                <div class="col-xs-4 col-md-8"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
                <div class="col-xs-4 col-md-2"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
                <div class="col-xs-4 col-md-2"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
            </div>
        </div>


        <div class="row">
                <nav class="navbar navbar-default">
                        <div class="container-fluid">
                          <div class="navbar-header line">
                            <button type="button" class="navbar-toggle menu-button" data-toggle="collapse" data-target="#myNavbar">
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>                        
                            </button>
                          </div>
                          <div class="collapse navbar-collapse menu" id="myNavbar">
                            <ul class="nav navbar-nav ">
                              <li class="active"><a href="#">Home</a></li>
                              <li><a href="#">Books</a></li>
                              <li><a href="#">Magazines</a></li>
                              <li><a href="#">E-Books</a></li>
                              <li><a href="#">Account</a></li>
                            </ul>
                          </div>
                        </div>
                      </nav>
        </div>
     
            
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <p>It is a long established fact that a reader will be distracted by the readable content
                    of a page when looking at its layout. The point of using Lorem Ipsum is that it has
                    a more-or-less normal distribution of letters, as opposed to using 'Content here,
                    content here', making it look like readable English. Many desktop publishing packages
                    and web page editors now use Lorem Ipsum as their default model text, and a search for
                    'lorem ipsum' will uncover many web sites still in their infancy. Various versions
                    have evolved over the years, sometimes by accident, sometimes on purpose (injected
                    humour and the like).</p>
            </div>
        </div>

        

        <div class="row main-content">
            <!--main content div-->
            <div class="col-xs-12 col-md-2 col-md-push-9 book-repeat">
                <!--side bar-->
                <div class="row ">
                    <div class="col-xs-10 col-md-12">
                        <h2>{{feature}}</h2>
                    </div>
                </div>
                <div class="row" ng-repeat="books in orderBookStore.items | limitTo : -2">
                    <div class="col-xs-10 col-md-11 side-text">
                        <div class="row text-center">
                            <div class="col-xs-12 reverse">
                            <div class="col-xs-12 col-md-12">
                                <h5>{{books.volumeInfo.title}}</h5>
                                <h5>{{books.volumeInfo.subtitle}}</h5>
                                <h6>Author: {{books.volumeInfo.authors[0]}}</h6>
                                <h6>Pages:{{books.volumeInfo.pageCount}}</h6>
                                <p ng-init="limit=140; moreShown = false">{{books.volumeInfo.description | limitTo:limit}}
                                    <br/>
                                    <a ng-show="books.volumeInfo.description.length > limit"
                                        href ng-click="limit=text.length; moreShown=true">Show More</a>
                                    <br/>
                                    <a ng-show="moreShown" href ng-click="limit=140; moreShown=false">Show Less</a>
                                </p>
                            </div>
                             <div class="col-xs-12 col-md-12">
                                <img ng-src={{books.volumeInfo.imageLinks.smallThumbnail}} class="img-rounded"
                                    width="100px" height="150px" alt="image">
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--side bar-->
            <div class="col-xs-12 col-md-9 col-md-pull-2">
                <div class="row">
                    <!--main sub row for books-->
                    <div class="col-xs-12 col-md-5 col-repeat"  ng-repeat="book in orderBookStore.items" ng-class="{'col-repeats' : book.isSelected }">
                            <div class="col-xs-6 col-md-6">
                                <img ng-src={{book.volumeInfo.imageLinks.smallThumbnail}}  ng-click="selectBook(book)" class="img-rounded"  width="120px" height="220px" alt="image">
                            </div>
                        <div class="col-xs-6 col-md-6 detail">
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <h5>{{book.volumeInfo.title}}</h5>
                                    <h6>{{book.volumeInfo.subtitle}}</h6>
                                    <div ng-repeat="author in book.volumeInfo.authors">
                                    <h6>Author: {{author}}</h6>
                                    </div>
                                    <h6>Pages:{{book.volumeInfo.pageCount}}</h6>
                                    <p ng-init="limit=140; moreShown = false">{{book.volumeInfo.description | limitTo:limit}}
                                        <br/>
                                        <a ng-show="book.volumeInfo.description.length > limit"
                                            href ng-click="limit=text.length; moreShown = true">Show More</a>
                                        <br/>
                                        <a ng-show="moreShown" href ng-click="limit=140; moreShown =    false"> Show Less </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                      
                        </div>
                </div>
                <!--main sub row for books-->
            </div>
        </div>
        <!--main content div-->


        <div class="col-xs-12 col-md-4 icons">
                <div class="col-xs-4 col-md-8"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
                <div class="col-xs-4 col-md-2"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
                <div class="col-xs-4 col-md-2"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
            </div>

    </div>

</body>

</html>